@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #E9A2Ff, #48A3FF);
  background-repeat: no-repeat;
}
html .destaque, body .destaque {
  font-family: Merriweather;
  text-decoration: italic;
  font-size: 40px;
}
html header, body header {
  background-color: #E9A2Ff;
}
html header h1, body header h1 {
  text-align: center;
  background: linear-gradient(to top, #E9A2Ff, #E700B0);
  padding-top: 30px;
}
html header p, body header p {
  text-align: center;
  background: greyscale(#E700B0);
  font-family: Merriweather;
  text-decoration: italic;
  font-size: 14px;
}
html header div.logo, body header div.logo {
  width: 80px;
  height: 90px;
  margin: 5px;
  background: #48A3FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
  transform: translate(-4%, -80%);
  transition: 1s;
}
html header div.logo:hover, body header div.logo:hover {
  cursor: pointer;
  color: white;
}
html header .navbar .navbar-homepage, body header .navbar .navbar-homepage {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
html header .navbar .navbar-homepage .navbar-item, body header .navbar .navbar-homepage .navbar-item {
  list-style-type: none;
  font-size: 16px;
}
html header .navbar .navbar-homepage a, body header .navbar .navbar-homepage a {
  text-decoration: none;
  color: white;
  transition: 0.7s;
}
html header .navbar .navbar-homepage a:hover, body header .navbar .navbar-homepage a:hover {
  color: #b30A66;
}
html header menu.categorias, body header menu.categorias {
  background: linear-gradient(to top, #48A3FF, #E700B0, #E9A2Ff);
  background-repeat: no-repeat;
}
html header menu.categorias ul#menuCategorias, body header menu.categorias ul#menuCategorias {
  display: none;
}
html header menu.categorias ul#menuCategorias li, body header menu.categorias ul#menuCategorias li {
  text-indent: 20px;
}
html header menu.categorias ul#menuCategorias li a, body header menu.categorias ul#menuCategorias li a {
  color: whitesmoke;
  text-decoration: none;
  margin: 8px 0 8px 0;
  font-size: 16px;
  transition: 0.7s;
}
html header menu.categorias ul#menuCategorias li a:hover, body header menu.categorias ul#menuCategorias li a:hover {
  color: #b30A66;
}
html header menu.categorias #clickMenu, body header menu.categorias #clickMenu {
  color: #E9A2Ff;
  transition: 0.5s;
}
html header menu.categorias #clickMenu:hover, body header menu.categorias #clickMenu:hover {
  color: #610020;
  cursor: pointer;
}
html div.redes-sociais, body div.redes-sociais {
  width: 40px;
  display: flex;
  margin: 5px;
  margin-top: 1px;
  justify-content: flex-start;
}
html div.redes-sociais li, body div.redes-sociais li {
  list-style-type: none;
  margin: 10px;
  margin-top: 0;
}
html div.redes-sociais li:hover, body div.redes-sociais li:hover {
  cursor: pointer;
}
html div.search, body div.search {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-160%);
}
html div.search input[type=text], body div.search input[type=text] {
  margin-right: 3px;
  border: 1px solid white;
  border-radius: 2px;
  font-family: Merriweather;
  font-weight: 400;
}
html div.search label .fa-search, body div.search label .fa-search {
  color: whitesmoke;
  margin-right: 3px;
}

/*# sourceMappingURL=style.css.map */
